body{
  height: 90vh;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.images img{
  height:150px;
  width:auto;
  border-radius: 10px;
}

.images img:hover{
  transform: scale(1.05);
}

.images{
  display:flex;
  gap:30px;
}

.image-display{
  margin-top:30px;
  text-align: center;
}

.image-display img{
  display:flex;
  height:200px;
  width:auto;
  border:2px solid black;
  
}